$white_01 : #fff;
$white_02 : #b7b7b7;

$line : #3d3d3d;

$black_01 : rgba(0,0,0, .2);
$black_02: #000;
$black_03: #151c26;
$btnBg : rgba(20,23,20, .1);
$btnBg1 : rgba(20,23,20, .5);

$boxShadow :  rgba(255,255,255,.8);